* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-class {
    text-transform: uppercase;
    margin: 3rem;
    font-size: 5em;
}

.btn-class {
    color: rgb(25, 23, 173);
    text-transform: uppercase;
    margin: 3rem;
    font-size: 3em;
    padding: 1rem;
    border-radius: 20px;
}

.image-class {
    display: block;
    margin: 3rem;

}